<section>
  <h1>Chapter 5 - ex2</h1>
  <div>
    컴포넌트에 있는 변수에 바로 접근<br>
    {{speed}} {{vehicle}} <hr>
    컴포넌트에 있는 변수 합치깅<br>
    {{speed + ' ' + vehicle}}<hr>
    컴포넌트에 있는 펑션 호출하기<br>
    {{lower(speed)}} {{upper('Jeep')}}<hr>
    <button (click)="setValues('Fast ', newVehicle)">
      Click 빠른 {{newVehicle}} 바꾸기
    </button><hr>
    <button (click)="setValues(newSpeed, 'Rocket')">
      Click {{newSpeed}} 로케트로 바꾸기
    </button><hr>
    <button (click)="vehicle='Car'">
      Click speed는 그대로 {{vehicle}}을 car로바꾸기
    </button><hr>
    <button (click)="vehicle=('Enhanced ' + vehicle)">
      Click {{vehicle}} 앞에 enhanced 붙이기
    </button><hr>
  </div>
</section>