<h2>Chapter 7 - ex 1</h2>
<div *ngIf="condition">condition met</div>
<div *ngIf="!condition">condition not met</div>
<button (click)="changeCondition()">Change Condition</button>
<hr>
<ng-template ngFor let-person [ngForOf]="people">
  <div>name: {{person}}</div>
</ng-template> 
<hr>
<h3>Monsters and where they live</h3>
<!-- <ul *ngFor="let monster of monsters"> -->
<ul>
  <li *ngFor="let monster of monsters">
    <h4>{{monster.name}}</h4>{{monster.location}}
  </li>
</ul>
<hr>
<div [ngSwitch]="time">
  <span *ngSwitchCase="'dawn'">
    It's dawn !
    <button (click)="changeDay()">change to dawn</button>
  </span>
  <span *ngSwitchCase="'night'">
    It's night time !
    <button (click)="changeDawn()"> change to day</button>
  </span>
  <span *ngSwitchDefault>
    It's day time !
    <button (click)="changeNight()">change to night</button>
  </span>
</div> 