<section>
  <h1>Chapter 5 - ex3</h1>
  Array:<br>
  {{myArr.join(' / ')}}<br>
  <hr>
  Elements removed from array:<br>
    {{removedArr.join(' / ')}}<hr>
    <button (click)="myArr.push(myMath.floor(myMath.random()*100+1))">
      Click to append a value to the array
    </button><hr>
    <button (click)="removedArr.push(myArr.shift())">
        Click to remove the first value form the array
    </button><hr>
    Size of Array:<br>
      {{myArr.length}}<hr>
    Max number removed from the array :<br>
      {{myMath.max.apply(myMath, removedArr)}}  <hr>
</section>
