p{font-size: 50px; font-weight: bold; color: #f35;}
input{border: 1px solid #aaa; padding: 0.45em 1em; color: #aaa; transition: 0.3s ease-out;}
input:focus{border-color: #000; color:#000; outline: none;}
button{margin-left: 10px;} 