<h2>Chapter 11 - ex4</h2>
<div>cd chap11n8
  <label for="">Circle Radius:</label>
  <input type="text" [(ngModel)]="circleRadius">
  <span>Area: {{this.doCircle()}}</span>
</div>
<hr>
<div>
  <label for="">Square Base:</label>
  <input type="text" [(ngModel)]="squareBase">
  <span>Area: {{this.doSquare()}}</span>
</div>
<hr>
<div>
  <label for="">Rectangle Base:</label>
  <input type="text" [(ngModel)]="rectangleBase">
  <label for="">Rectangle Height:</label>
  <input type="text" [(ngModel)]="rectangleHeight">
<span>Area: {{this.doRectangle()}}</span>
</div>
<hr>
<div>
  <label for="">Triangle Base:</label>
  <input type="text" [(ngModel)]="triangleBase">
  <label for="">Triangle Height:</label>
  <input type="text" [(ngModel)]="triangleHeight">
  <span>Area: {{this.doTriangle()}}</span>
</div>
<hr>
<div>
  <label for="">Trapezoid Base 1:</label>
  <input type="text" [(ngModel)]="trapezoidBase1">
  <label for="">Trapezoid Base 2:</label>
  <input type="text" [(ngModel)]="trapezoidBase2">
  <label for="">Trapezoid Height:</label>
  <input type="text" [(ngModel)]="trapezoidHeight">
  <span>Area: {{this.doTrapezoid()}}</span>
</div>
